<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div id="root">

</div>
<script defer async type="application/javascript"
        src="//localhost:3003/api/cf5d2ef2-fa1b-4abf-b803-e87a5fecffb/ims-service-script.js"></script>
</body>
</html>